*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 80px;
    padding-top: 20px;
}
.navbar{
    max-width: 1320px;
    margin: auto;
}

.logo{
    float: left;
}

.nav{
    float: right;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
    padding: 5px 8px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: gainsboro;
    color: darkred;
}

.nav-btn{
    background-color: rgb(0, 66, 0);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.nav-btn:hover{
    background-color: green;
}



/* product section started  */

.btn{
    letter-spacing: 2px;
    font-weight: 600;
    padding: 8px 8px;
    border-radius: 4px;
    color: white;
    border: none;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-orange{
    background-color: orange;
}
.btn-green{
    background-color: green;
}

.btn-close{
    border-radius: 50%;
    padding:3px;
    color: black;
    transform: translateX(-30px);
    opacity: 0.5;
}

.search:hover .btn-close{
    opacity: 1;
}

.search{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 8px ;
    outline: none;
}



.container{
    max-width: 1320px;
    margin: auto;
    border: 1px solid transparent;
    margin-top: 100px;
}

.card{
    /* border: 1px solid green; */
    display: inline-block;
    width: 23%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}

.card-img{
    width: 100%;
        border-radius: 10px;
        padding: 2px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-body{
    padding:5px 0px;
}
.card-body h4, button, h3{
    margin-bottom: 10px;
}
.card-text{
    text-align: start;
    margin-top: 30px;
  /* border: 1px solid green; */
}



.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* product section started  */


/* TRANSITION STARTED  */
.slide-up{
    transition: all 0.4s;
}
.slide-up:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.zoom-in{
    transform: all 0.4s;
}
.zoom-in:hover{
    transform: scale(1.1);
}



/* TRANSITION END  */
.bg-dark{
    background-color: rgb(6, 80, 129);
}
.b-red{
    /* border: 1px solid red; */
}
.b-red .footer-col{
    /* border: 1px solid green; */
}

.footer-col{
    width: 23%;
    margin: 10px;
    display: inline-block;
    padding: 60px 0px;
}

.footer-col h4{
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-links{
    list-style: none;

}
.footer-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}


.footer-links li{
    padding: 10px 0px;
    transition: all 0.2s;
}
.footer-links li:hover{
    transform: translateX(10px);
    background-color: rgb(5, 56, 90) ;
}

.footer-social{
    padding-top: 40px;
}

.footer-social a{
    text-decoration: none;
    color: white;
    font-size:22px;
    border-radius: 50%;
    border:1px solid white;
    padding: 10px;
}

.footer-social a:hover{
    background-color: white;
    color:rgb(5, 56, 90) ;
}